In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
df = pd.read_csv('spam_ham_dataset.csv')
df

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.drop('label', axis=1, inplace=True)

In [6]:
df.head()

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0
1  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  Subject: photoshop , windows , office . cheap ...          1
4  Subject: re : indian springs\r\nthis deal is t...          0

In [7]:
df.shape

(5171, 2)

In [8]:
X = df['text']
y = df['label_num']

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

print(f"No. of rows in total: {df.shape[0]}\nNo. of rows in training: {X_train.shape[0]}\nNo. of rows in testing: {X_test.shape[0]}")

No. of rows in total: 5171
No. of rows in training: 4136
No. of rows in testing: 1035

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()
train_data = count_vectorizer.fit_transform(X_train)
test_data = count_vectorizer.transform(X_test)

In [16]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

model = MultinomialNB()
model.fit(train_data, y_train)
print(f"Train Accuracy: {accuracy_score(y_train, model.predict(train_data)) * 100:.2f}%")
print(f"Test Accuracy: {accuracy_score(y_test, model.predict(test_data)) * 100:.2f}%")

Train Accuracy: 98.62%
Test Accuracy: 98.26%

In [20]:
sample_input = [['Subject: Congratulations! You won a Free Iphone!!!']]

sample_input_vector = count_vectorizer.transform(sample_input[0])
predicted = model.predict(sample_input_vector)
if predicted[0] == 0:
    print(f"{sample_input[0][0]} is not spam")
else:
    print(f"{sample_input[0][0]} is spam")

Subject: Congratulations! You won a Free Iphone!!! is spam

In [21]:
sample_input = [['Subject: Greetings from Fidelity!']]

sample_input_vector = count_vectorizer.transform(sample_input[0])
predicted = model.predict(sample_input_vector)
if predicted[0] == 0:
    print(f"{sample_input[0][0]} is not spam")
else:
    print(f"{sample_input[0][0]} is spam")

Subject: Greetings from Fidelity! is not spam